.tab-button {
    background-color: #d5e3ff;
    cursor: pointer;
}

.tab-button-activ {
    background-color: yellow;
    border-bottom: yellow;
}

.tab-content {
    width: 200px;
    height: 50px;
    background-color: yellow;
    display: none;
}

.tab-content-activ {
    display: block;
}
